{% extends "layout.html" %} {% set page_title="About Us" %}

{% block styles %}
    <link href='{{url_for("static", filename="stylesheets/about.css")}}' rel='stylesheet'/>
{% endblock %}

{% block content %}
<h1>About us</h1>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
    Amet volutpat consequat mauris nunc congue nisi vitae suscipit tellus. 
    Massa enim nec dui nunc mattis.
</p>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
    Amet volutpat consequat mauris nunc congue nisi vitae suscipit tellus. 
    Massa enim nec dui nunc mattis.
</p>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
    Amet volutpat consequat mauris nunc congue nisi vitae suscipit tellus. 
    Massa enim nec dui nunc mattis.
</p>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
    Amet volutpat consequat mauris nunc congue nisi vitae suscipit tellus. 
    Massa enim nec dui nunc mattis.
</p>
{% endblock %}