{% extends 'layout.html' %}
{% set active_page = 'game' %}
{% block styles %}

    <link href='{{url_for("static", filename="stylesheets/layout.css")}}' rel='stylesheet'/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{% endblock %}

{% block content %}
<div class="maingame">
    <div>
        <h2>Current word:</h2>
        <h1 id="currentWord">test</h1>
        <input type="text" id="maininputbox">
    </div>
</div>
 <br>
(Devs: Check console log.)

<br><br>
<a href="{{url_for('home')}}">
    <button class="be">Back</button>
</a>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='javascript/home.js') }}"></script>
<script src="{{ url_for('static', filename='javascript/words.js') }}"></script>

<script>
    console.log("Number of words: {{wordNumber}} \nAmount of time: {{gameTime}}\nDifficulty: {{difficulty}}\nAllow passing: {{togglePassing}}");
    document.getElementById("maininputbox").addEventListener("keyup", function (evt) {checkWord('{{difficulty}}');}, false);

</script>

{% endblock %}