{% extends 'layout.html' %}
{% set active_page = 'game' %}
{% block styles %}

    <link href='{{url_for("static", filename="stylesheets/layout.css")}}' rel='stylesheet'/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{% endblock %}

{% block content %}
<div id="maingame">
    <div>
        <h2>Current word:</h2>
        <h1 id="currentWord">test</h1>
        <input type="text" id="maininputbox"><br>
        <button id="skipButton" onclick="skipWord()">Skip word</button>
        <p>(You can also press the spacebar)</p>
        <p id="wordsToGo">Words left: {{wordNumber}}</p>
        <p id="gameTimer"></p>
    </div>
</div>
<div id="aftergame">
    <p>Congrats! You finished!</p>
    <p id="WPMCounter"></p>
    <button onclick="submitScores()">Submit score (console logs but no actual submitting)</button>
</div>

<br><br>
<a href="{{url_for('home')}}">
    <button class="be">Home</button>
</a>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='javascript/home.js') }}"></script>
<script src="{{ url_for('static', filename='javascript/words.js') }}"></script>

<script>
    var wordNumber = parseInt("{{wordNumber}}");
    var time = parseInt("{{gameTime}}");
    var difficulty = parseInt("{{difficulty}}");
    var togglePassing = parseInt("{{togglePassing}}");
    var wordsLeft = wordNumber;
    var timer = time * 60;
    var wordArray = [];
    var skippedArray = [];
    var gameFailure = false;
    console.log("Number of words: {{wordNumber}} \nAmount of time: {{gameTime}}\nDifficulty: {{difficulty}}\nAllow passing: {{togglePassing}}");
    startGame(wordNumber, time, difficulty, togglePassing);
    timerInterval = setInterval(function() {
        timerDown();
        if (timer <= 0){
            clearInterval(timerInterval);
        }
    }, 1000);
    window.onload = function(){
        document.getElementById("aftergame").style.display = "none";
    }

</script>

{% endblock %}