{% extends 'layout.html' %}
{% set active_page = 'home' %}
{% block styles %}

    <link href='{{url_for("static", filename="stylesheets/layout.css")}}' rel='stylesheet'/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{% endblock %}

{% block content %}
<!-- Update this block to update what html content is rendered -->

<nav class="navbar navbar-custom navbar-expand-lg">

    <div class="dark-mode-toggle">
      <input type="checkbox" id="darkModeToggle" onchange="dModeToggle()" style="display: none;">
      <label for="darkModeToggle" class="slider open-sidebar"></label>
      <span id="darkModeText" class="text dmodetext"> Dark Mode</span>
    </div>

    <button class="navbar-toggler" id="homenavbtn" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <i class="bi bi-list hamburger"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link text {{'active' if active_page == 'home' }}" href="{{url_for('home')}}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text {{'active' if active_page == 'about' }}" href="{{url_for('about')}}">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text {{'active' if active_page == 'stats' }}" href="{{url_for('stats')}}">Statistics</a>
        </li>
      </ul>
    </div>
  </nav>

<div class="blue-container">
    <div>
        <img src="{{url_for('static', filename='images/typewriter.png')}}" class="rounded mx-auto d-block">
    </div> 
    <div>
        <h1 class="text-center font-weight-bold text">Wizard Type</h1>
        <p class="text-center text">Test your typing skills, built by CodeWizardsHQ students</p>
    </div>
</div>


<div id="main-home">
    <div class="maininput">
        <form class="start_game game_class" onsubmit="return false">
            <h1 class="text"><strong>Create Test</strong></h1>
            <p class="text"> Number of words:</p>
            <input type="number" name="wordNumber" id="wordNumber" required><br><br>

            <p class="text">Max amount of time (in minutes):</p>
            <input type="number" name="gameTime" id="gameTime" required><br><br>
            
            <h4 class="text">Difficulty level:</h4>
            <input type="radio" name="difficulty" id="easyDiff" checked required>
            <label for="easyDiff" class="text">Easy (3-6 letter words)</label><br>
            
            <input type="radio" name="difficulty" id="mediumDiff" required>
            <label for="mediumDiff" class="text">Medium (3-9 letter words)</label><br>
            
            <input type="radio" name="difficulty" id="hardDiff" required>
            <label for="hardDiff" class="text"> Hard (Any word length)</label><br><br>
            
            <input type="checkbox" name="togglePassing" id="togglePassing">
            <label for="togglePassing" class="text">Allow skipping words</label><br><br>
            
            <input type="submit" name="submitButton" id="gameSubmitButton" class="be" value="Start game" onclick="inputFormValues()">
            <br>
        </form>
        
</div>
  <div class="extras">
    <div class="quotes">
      <div class="subquotes">
        <h1>Want to try longer sentences?</h1>
        <button id="q-button" onclick = qclick()>PARAGRAPH MODE</button>
      </div>
    </div>

    <div class="infinity">
      <div class="subinfinity">
        <h1>Want a never-ending challenge?</h1>
        <button id="q-button" onclick = iclick()>INFINITY MODE</button>
      </div>
    </div>
</div>
    
</div>


{% endblock %}

{% block scripts %}
<!-- Delete the scripts block if not needed -->
    <script src="{{ url_for('static', filename='javascript/home.js') }}"></script>
    <script>
      
    function qclick(){
      window.location.href="{{url_for('quotes')}}";
    }

    function iclick(){
      window.location.href="{{url_for('infinity')}}";
    }
    

    function inputFormValues(){
        //sets variables to their form equivalents
        var formWordNumber = $(document.querySelector("#wordNumber")).val() //number of words
        var formGameTime = $(document.querySelector("#gameTime")).val() //total game time (in mins?)
        var formTogglePassing = document.getElementById("togglePassing").checked; //allow passing word
        var formDifficulty = 0; //0 is easy (default), 1 is medium, 2 is hard
        
        //extra variables to make the if-else statement easier to understand
        var easyDifficulty = document.getElementById("easyDiff");
        var mediumDifficulty = document.getElementById("mediumDiff");
        var hardDifficulty = document.getElementById("hardDiff");

        //sets difficulty to 0 if game is easy, 1 if medium, 2 if hard
        if (mediumDifficulty.checked){

            formDifficulty = 1;
        }
        else if (hardDifficulty.checked){
            formDifficulty = 2;
        }

        //checks if all numbers inputted are a correct value, and if so, submits the form (sends a console log and alert)
        if (formWordNumber < 1 || formGameTime < 1){
            console.log("All numbers inputted must be at least 1.")
            alert("All numbers inputted must be at least 1.")
        }
        else {
            window.location.href = "{{url_for('game')}}" + "/" + formWordNumber + "/" + formGameTime + "/" + formDifficulty + "/" + formTogglePassing + "/run"
            //redirects to game.html with given variables
        }
    }
    

    </script>
{% endblock %}