{% extends 'layout.html' %}

{% block styles %}
    <link href='{{url_for("static", filename="stylesheets/home.css")}}' rel='stylesheet'/>
{% endblock %}

{% block content %}
<!-- Update this block to update what html content is rendered -->
<div>
  <h1 id="title">Hello Flask</h1>
  <button id="dMode" onclick="dModeToggle()">Dark Mode Toggle</button>

  <script>
  
    function dModeToggle() {
      let currentColor = document.body.style.backgroundColor;

      if(currentColor === "rgb(249, 243, 204)") {
        document.body.style.backgroundColor = "#232D3F";

        const element = document.querySelector("#title");
        element.style.color = "#008170";

        document.querySelector("#dMode").textContent = "Click for Light Mode";

      } else {
        document.body.style.backgroundColor = "#F9F3CC";
      
        const element = document.querySelector("#title");
        element.style.color = "#8EACCD";

        document.querySelector("#dMode").textContent = "Click for Dark Mode";
      }
    }


  </script>
</div>




{% endblock %}

{% block scripts %}
<!-- Delete the scripts block if not needed -->
    <script src="{{ url_for('static', filename='javascript/home.js') }}"></script>
{% endblock %}