<!doctype html>
<!--
  ### Important ###
  This file is the parent template for the entire application.
  Do not make changes to this file unless you intend for those 
  changes to apply to every template that inherits this template.
-->
<html>
    <head>
        <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0 shrink-to-fit=no">
        <link rel ="stylesheet" href="{{url_for('static', filename='stylesheets/layout.css')}}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Raleway&display=swap" rel="stylesheet">
        <title>
          {% if title %}
            {{ title }}
          {% else %}
          Wizard Type
          {% endif %}
        </title>
        <!-- active page stuff -->

        <!-- For adding any additional stylesheets to a template -->
        {% block styles %}
        {% endblock %}
    </head>
    <body>

        <!-- Displays the main content of a template -->
        <div class="blue-container">
        <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top" >
          <div class="container-fluid">
            <a class="navbar-brand" href="/">Wizard Type</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <a class="nav-link text {{'active' if active_page == 'home' }}" aria-current="page" href="{{url_for('home')}}">Home</a>
                <a class="nav-link text {{'active' if active_page == 'about' }}" href="{{url_for('about')}}">About</a>
                <a class="nav-link text {{'active' if active_page == 'stats' }}" href="{{url_for('stats')}}">Statistics</a>
                <button id="dMode" onclick="dModeToggle()">Click for Dark Mode</button>
              </div>
            </div>
          </div>  
        </nav>
      </div>
      
      {% block content %}
      {% endblock %}
      
        <!-- For adding additional scripts for a template -->
        {% block scripts %}
        <script src="{{ url_for('static', filename='javascript/home.js') }}"></script>
        {% endblock %}
        <div class="footer">
            <div id="footer-text">
              <p>CodeWizardsHQ provides the most fun and engaging online, live coding experience for kids and teens ages 8-18.</p>
            </div>
            <div>
              <a href="https://www.codewizardshq.com/" target="_blank">
              <button id="footer-button">Start your coding journey today!</button>
              </a>
            </div>
        </div>
    </body>
</html>