{% extends "layout.html" %} {% set page_title="Statistics" %}
{% set active_page = 'stats' %}
{% block styles %}
    <link href='{{url_for("static", filename="stylesheets/layout.css")}}' rel='stylesheet'/>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

      google.charts.load('current', {'packages':['corechart']});

      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var easyPerc = randomInteger(1, 5000);
        var medPerc = randomInteger(1, 3000);
        var hardPerc = randomInteger(1, 2000);


        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Difficulty');
        data.addColumn('number', 'Amount');
        data.addRows([
          ['Easy', easyPerc],
          ['Medium', medPerc],
          ['Hard', hardPerc],
        ]);

        // Set chart options
        var options = {'title':'Words Typed',
                       'width':250,
                       'height':200,
                       'is3D':true};

        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
{% endblock %}

{% block content %}

<nav class="navbar navbar-custom navbar-expand-lg">

  <div class="dark-mode-toggle">
    <input type="checkbox" id="darkModeToggle" onchange="dModeToggle()" style="display: none;">
    <label for="darkModeToggle" class="slider open-sidebar"></label>
    <span id="darkModeText" class="text dmodetext"> Dark Mode</span>
  </div>

  <a class="navbar-brand" href="#">
    <img src="{{url_for('static', filename='images/typewriter.png')}}" alt="Your Logo" class="navimg">
    <span class="logo-text">Wizard Type</span>
  </a>

  <button class="navbtnstyle" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <i class="bi bi-list hamburger"></i>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link text {{'active' if active_page == 'home' }}" href="{{url_for('home')}}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text {{'active' if active_page == 'about' }}" href="{{url_for('about')}}">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text {{'active' if active_page == 'stats' }}" href="{{url_for('stats')}}">Statistics</a>
      </li>
    </ul>
  </div>
</nav>

<body>
<div class="container" id="main-stats" style="margin-right: 5%; margin-left: 5%">
    <h1 style="margin-top:25px;" class="text">Statistics</h1>
    <div class="row g-3 row-cols-1 row-cols-sm-2 row-cols-md-5 text">
        <div class="col col-stats">
            <h2 class="be" id="testsGenerated">0</h2>
            <p class="be">total tests generated</p>
        </div>
        <div class="col col-stats">
            <h2 class="be" id="wordsTypedCorrectly">0</h2>
            <p class="be">total words typed correctly</p>
        </div>
        <div class="col col-stats">
            <h2 class="be" id="wordsPerMinute">0</h2>
            <p class="be">average words per minute</p>
        </div>
        <div class="col col-stats">
            <h2 class="be" id="averageCompletion">0%</h2>
            <p class="be">average completion</p>
        </div>
    </div>
    <hr size="4" width="80%" color="black">
    <div class="row g-7 row-cols-1 row-cols-sm-2 row-cols-md-4 text">
      <div class="col col-stats">
        <h6 class="be">Word Difficulty</h6>
        <div id="chart_div"></div>
    </div>
        <div class="col col-stats">
          <h2 class="be" id="useOfPasses">0%</h2>
          <p class="be">words skipped</p>
      </div>
      <div class="col col-stats">
        <h2 class="be" id="ranOutOfTime">0%</h2>
        <p class="be">of the time, people ran out of time</p>
    </div>
    </div>
</div>

<script src="path/to/jquery.min.js"></script>
<script src="path/to/popper.min.js"></script>
<script src="path/to/bootstrap.min.js"></script>

</body>
{% endblock %}

{% block scripts %}

<script src="{{ url_for('static', filename='javascript/home.js') }}"></script>
<script src="{{ url_for('static', filename='javascript/words.js') }}"></script>
<script>

function randomInteger(start, end) {
  var x = Math.random() * (end+1-start);
  x = Math.floor(x);
  x = x+start;
  return x;
}

document.getElementById("testsGenerated").innerHTML = randomInteger(100, 5000);
document.getElementById("wordsTypedCorrectly").innerHTML = randomInteger(100, 20000);
document.getElementById("wordsPerMinute").innerHTML = randomInteger(15, 120);
document.getElementById("averageCompletion").innerHTML = randomInteger(45, 100) + "%";
document.getElementById("useOfPasses").innerHTML = randomInteger(1, 20) + "%";
document.getElementById("ranOutOfTime").innerHTML = randomInteger(1, 50) + "%";

  // console.log(localStorage.getItem('wordsTyped'));
  // localStorage.setItem('wordsTyped', wordsTypedNumber);
  // var words = localStorage.getItem('wordsTyped');

  // document.getElementById("word").innerHTML = words;

</script>
<script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
      integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
      crossorigin="anonymous"></script>
    
{% endblock %}